@model tcsoft_pingpongclub.Models.ExpenseAndIncome

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExpenseAndIncome</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAccountant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAccountant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysOverdue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysOverdue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFundNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFundNavigation.IdFund)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPartyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPartyNavigation.IdMember)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdReasonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdReasonNavigation.IdReason)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
