@model tcsoft_pingpongclub.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGroupstageNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGroupstageNavigation.IdGroupstage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMemberOneNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMemberOneNavigation.IdPlayer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMemberTwoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMemberTwoNavigation.IdPlayer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMemberWinNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMemberWinNavigation.IdPlayer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTournamentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTournamentNavigation.IdTournament)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMatch">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
