@model IEnumerable<tcsoft_pingpongclub.Models.MatchAndPlayer>

<div class="container my-5">
    <div class="mx-auto w-75">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-light">
                <tr>
                    <th class="text-center" colspan="3">
                        <span class="h4 text-primary">Danh sách Trận Đấu</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="parent">
                        @if (item.Points1 > item.Points2)
                        {
                            <td class="text-center bg-cyan-300 text-white" style="width:40%; background-color:rgba(23, 162, 184, 1); font-size:25px">
                              
                                @Html.DisplayFor(modelItem => item.PlayerName1)
                                <img src="https://via.placeholder.com/30" alt="Player 1" class="rounded-circle ms-2">
                            </td>
                        }
                        else
                        {
                            <td class="text-center bg-light" style="width:40%;font-size:25px">
                               
                                @Html.DisplayFor(modelItem => item.PlayerName1)
                                <img src="https://via.placeholder.com/30" alt="Player 1" class="rounded-circle ms-2">
                            </td>
                        }

                        <td class="text-center align-middle" style="width:20%">
                            @if (item.TimeStart == null)
                            {
                                <a asp-action="Edit" asp-route-id="@item.IdMatch" class="badge bg-danger px-3 py-2 text-decoration-none">Chưa có lịch thi đấu</a>
                            }
                            else
                            {
                                if (item.Points2 > item.Points1)
                                {
                                    <div>
                                        <span class="fw-bold fs-4 text-danger">@Html.DisplayFor(modelItem => item.Points1)</span>
                                        <span class="mx-2">-</span>
                                        <span class="fw-bold fs-4 text-success">@Html.DisplayFor(modelItem => item.Points2)</span>
                                    </div>
                                    <div class="mt-1">
                                        <a asp-action="Edit" asp-route-id="@item.IdMatch" class="badge bg-primary px-3 py-2 text-decoration-none">@Html.DisplayFor(modelItem => item.TimeStart)</a>
                                    </div>
                                }
                                else
                                {
                                      <div>
                                    <span class="fw-bold fs-4 text-success">@Html.DisplayFor(modelItem => item.Points1)</span>
                                    <span class="mx-2">-</span>
                                    <span class="fw-bold fs-4 text-danger">@Html.DisplayFor(modelItem => item.Points2)</span>
                                </div>
                                <div class="mt-1">
                                    <a asp-action="Edit" asp-route-id="@item.IdMatch" class="badge bg-primary px-3 py-2 text-decoration-none">@Html.DisplayFor(modelItem => item.TimeStart)</a>
                                </div>
                                }

                        }
                        </td>

                        @if (item.Points2 > item.Points1)
                        {
                            <td class="text-center bg-cyan-300 text-white " style="width:40%; background-color:rgba(23, 162, 184, 1);  font-size:22px">
                                @Html.DisplayFor(modelItem => item.PlayerName2)
                                <img src="https://via.placeholder.com/30" alt="Player 2" class="rounded-circle ms-2">
                            </td>
                        }
                        else
                        {
                            <td class="text-center bg-light" style="width:40%; font-size:25px">
     
                                @Html.DisplayFor(modelItem => item.PlayerName2)
                                <img src="https://via.placeholder.com/30" alt="Player 2" class="rounded-circle ms-2">
                            </td>
                        }
                    </tr>

                    @if (item.ListSet.Any())
                    {
                        <tr class="child">
                            @foreach (var set in item.ListSet)
                            {
                                <td class="text-center">
                                    <h5 class="fw-bold">Set @Html.DisplayFor(modelItem => set.SetName)</h5>
                                    <span>@Html.DisplayFor(modelItem => set.Ratio)</span>
                                </td>
                            }
                        </tr>
                        <tr class="child1">
                            <td colspan="3" class="text-center">
                                <a asp-action="EditSet" asp-route-id="@item.IdMatch" class="badge bg-primary px-3 py-2 text-decoration-none">Chỉnh sửa set</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="child">
                            <td colspan="3" class="text-center fw-bold text-danger">
                                <span>Trận đấu chưa diễn ra</span>
                            </td>
                        </tr>
                        <tr class="child1">
                            <td colspan="3" class="text-center">
                                <a asp-action="EditSet" asp-route-id="@item.IdMatch" class="badge bg-secondary px-3 py-2 text-decoration-none">Chỉnh sửa set đấu</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

