@model tcsoft_pingpongclub.Models.PermissionRole

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="stylesheet" href="/css/form-detail-style.css">
</head>
<h1>Delete</h1>


<div class="table-container">
    <h4>PermissionRole Information</h4>
    <hr />
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdPermissionNavigation)</th>
            <td>@Html.DisplayFor(model => model.IdPermissionNavigation.IdPermission)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdRoleNavigation)</th>
            <td>@Html.DisplayFor(model => model.IdRoleNavigation.IdRole)</td>
        </tr>
    </table>
</div>

<div style="text-align:center; margin-top: 20px;">
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPerRo" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <a asp-action="Index" style="margin-left: 10px;">Back to List</a>
</div>
